{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
  <div class="container-fluid">
    <div class="jumbotron container-fluid" style="background-color:#F2F1EF">
      <div class="jumbotron-contents">
	<h3>What is bitscramblr?</h3>
	<p>
	  Bitscramblr is an application that will turn pseudoanonymous Bitcoin transactions into
	  anonymous Bitcoin transactions. It is an extension of the concept of a shared wallet.
	</p>
	<center>
	<p>
	  <h2>Traditional shared wallets operate like this:</h2><br>
	  <div class="container-fluid">
	    <div class="container">
	      <img src="{{static('img/shared_wallet.png')}}" class="img-rounded img-responsive">
	    </div>
	  </div>
	</p>
	<p>
	  <h2>Bitscramblr works like this:</h2><br>
	  <div class="container-fluid">
	    <div class="container">
	      <img src="{{static('img/bitscramblr.png')}}" class="img-rounded img-responsive">
	    </div>
	  </div>
	</p>
	</center>
      </div>
    </div>
  </div>
</div>
{% endblock %}
