{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
  <div class="container-fluid">
    <div class="jumbotron container-fluid" style="background-color:#F2F1EF">
      <div class="jumbotron-contents">
	<h3>What is bitscramblr?</h3>
	<p>
	  Bitscramblr is an application that allows you to send Bitcoin anonymously. It differs
	  from many mixing services in existence in that a transaction will not be sent until
	  adequately sized inputs are available from another source. Basically what this
	  means is: there is no path from a transaction's origin to its destination.
	  To illustrate, see a visualization of 10 transactions using bitscramblr:
	</p>
	<center>
	<p>
	  <div class="container-fluid">
	    <div class="container">
	      <img src="{{static('img/bitscramblr.png')}}" class="img-rounded img-responsive">
	    </div>
	  </div>
	</p>
	<p>
	  Now compare that with a 10 transaction visualization from another comparable, but
	  poorly implemented Bitcoin mixing service:<br>
	  <div class="container-fluid">
	    <div class="container">
	      <img src="{{static('img/other_mixer.png')}}" class="img-rounded img-responsive">
	    </div>
	  </div>
	</p>
	</center>
	<p>
	  Notice how you can't trace a line from each transaction's origin to its respective
	  destination? That's the beauty of bitscramblr, and it's what keeps bitscramblr's
	  users completely anonymous.
	</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
