{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
  <div class="container">
    <div class="panel panel-default" style="background-color:#F2F1EF">
      <div class="panel-heading" style="background-color:#D2D7D3">
	<h3 class="panel-title"><center>Sending {{amount}} BTC to <b>{{destination}}</b></center></h3>
      </div>
      <div class="panel-body" style="background-color:#F2F1EF">
	<div class="container-fluid">
	  <div class="alert alert-warning">
	    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	    <strong>Warning!</strong> Do not reload this page and do not close this page until you
	    have sent {{amount}} BTC to the address below. Confirm that the amount and destination are
	    correct before continuing.
	  </div>

	  <div class="container-fluid">
	    <div class="row">
	      <div class="col-md-6">
		<center>
		  <img class="img-responsive" src="https://blockchain.info/qr?data={{receiver}}&size=200"></img>
		</center>
	      </div>
	      <div class="col-md-6">
		<p>Please send {{amount}} BTC to:</p>
		<p>{{receiver}}</p>
		<br>
		{% if amount >= swarm_size %}
		<p>
		  Since your transaction is larger than the current swarm size of {{swarm_size}} BTC,
		  it will not be processed until adequately sized inputs are available
		  from another source.
		</p>
		{% elif amount < swarm_size %}
		<p>
		  Your transaction is smaller than the current swarm size, so it should
		  be processed as soon as we confirm the address above has {{amount}} BTC.
		</p>
		{% endif %}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
